[submodule "utils"]
	path = utils
	url = https://github.com/orrappelkroyzer/utils.git
[submodule "private_utils"]
	path = private_utils
	url = https://github.com/orrappelkroyzer/private_utils.git
[submodule "extended_utils"]
	path = extended_utils
	url = https://github.com/orrappelkroyzer/extended_utils.git
